body {

    background-color: white;
    clear: both;
    margin-bottom: 100px;
    margin: 0;
    min-height: 400px;
    padding: 0;
    text-align: center;
}


/* Header */
/* Navigation */



.navbar {
    background-color: tomato;
    display: flex;
}

.navbar h1{
    padding: 0 20px;
    line-height: 1.5em;
}

.navbar ul{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item{
    background-color: rgba(255, 99, 71, 0.863);
}

.nav-item a{
    margin: 1em;
  display: block;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.nav-item a:hover{
    color: white;
    background-color: rgb(180, 42, 18);
    border-radius: 5px;

}

/* footer */

footer{
    width: 100%;
    color: white;
    background-color: tomato;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
}

/* Dogs page */
.dogs {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-evenly;

}

.dogs img{
    
    box-shadow: 10px 10px;
    border: 5px solid tomato;
    border-radius: .5em;
    height: 250px;
    width: 250px;
}

/* cats page */

.cats {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.cats img{
    
    box-shadow: 10px 10px;
    border: 5px solid tomato;
    border-radius: .5em;
    
    height: 250px;
    width: 250px;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  }